mmcv-full==1.7.2
mmdet==2.28.2
mmsegmentation==0.30.0
numba==0.58.1
numpy==1.23.1
nuscenes-devkit==1.1.11
Pillow==9.3.0
PyQt5==5.15.11
PyVirtualDisplay==3.0
PyYAML==6.0
scikit-learn==1.3.2
scipy==1.10.1
timm==0.4.12
torch==2.4.1
torchvision==0.19.1
alive-progress
comet-ml
